.section-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: relative !important;
    display: block !important;
}

.section-body {
    position: relative !important;
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    max-height: 400px !important;
}

.product-title {
   font-size: 0.75rem;
}

.filterButtons {
    height: 30px;
    line-height: initial;
    font-size: 0.75rem;
}

.filter-section {
    margin-bottom: -15px;
    font-size: 0.75rem;
}

.card-img-bg {
    background-color: #ebeff1;
}

.container {
    padding-left: 0;
    padding-right: 0;
    min-height: 100vh;
    box-shadow: 6px 0 15px -4px rgba(0,0,0,0.15), -7px 0 8px -4px rgba(0,0,0,0.15);
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.button-active {
    background-color: #20c997;
}

.flex-wrap {
    flex-wrap: wrap;
}

.w-50 {
    width: 50%;
    text-align: center;
}

  /* Mobile View: Page should have only one Column until 700 px.  */
  @media only screen and (max-width: 700px) {
    .column {
        width: 100%;
    }
    .filter-panel {
        width: 100%
    }
    .product-panel {
        width: 100%
    }
  }

  
  /* Tablet View: Page should have 2 columns between 700 and 1024 px */
  @media only screen and (min-width: 700px) and (max-width: 1024px) {
    .column {
        width: 50%;
    }
    .filter-panel {
        width: 33.33%;
        margin-left: -15px;
        margin-right: -15px;
    }
    .product-panel {
        width: 66.66%;
        margin-left: 30px;
    }
  } 
  
  /* Desktop View: Page should have 4 columns between 1024 and 1440 px and above.  */
  @media only screen and (min-width: 1024px) and (max-width: 1440px) {
    /* .example {background: pink;} */
    .column {
        width: 25%;
    }
    .filter-panel {
        width: 20%;
        margin-left: -15px;
        margin-right: -15px;
    }
    .product-panel {
        width: 80%;
        margin-left: 30px;
    }
  }

  @media only screen and (min-width: 1440px) {
    /* .example {background: pink;} */
    .column {
        width: 25%;
    }
    .filter-panel {
        width: 20%;
        margin-left: -15px;
        margin-right: -15px;
    }
    .product-panel {
        width: 80%;
        margin-left: 30px;
    }
  }